# Ignore virtual environment and environment files
venv/
.env
genai-chatbot-env/
chatbot.log
data/gitlab_handbook.json
data.gitlab_direction.json
*.pyc
__pycache__/
.vscode/
data/
/handbook
/vector_stores
